<footer>
  <div class="top">
    <div class="container">
      <div class="row">

        <div class="col-12 col-md-3">
          <img src="../../../assets/images/logo-branca.svg" alt="">
          <p>Transforme a sua <br> ideia em realidade!</p>
        </div>

        <div class="col-12 col-md-3">
          <p class="title">Siga nas redes sociais</p>

          <div class="redes">
            <a class="rede" target="_blank" href="https://www.instagram.com/stylorit_oficial/"><i class="fab fa-instagram"></i></a>
            <a class="rede" target="_blank" href="https://twitter.com/StylorIt"><i class="fab fa-twitter"></i></a>
            <a class="rede" target="_blank" href="https://www.youtube.com/channel/UCr0TWdant0-ypuVPx-gjVUQ"><i class="fab fa-youtube"></i></a>
            <a class="rede" target="_blank" href="https://fb.me/styloritoficial"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>

        <div class="col-12 col-md-5">
          <p class="title">Links Utéis</p>

          <div class="links">
            <a href="">Sobre</a>
            <a href="">Como Funciona</a>
            <a href="">Serviços</a>
            <a href="">Contato</a>
          </div>
        </div>

      </div>

    </div>

    <img class="circle only-web" src="../../../assets/images/circle-footer.svg" alt="">
    <img class="circle circle-mobile only-mobile" src="../../../assets/images/circle-footer-mobile.png" alt="">
  </div>
  <div class="bot">
    <div class="container">
      <p><span>Copyright 2020 Stylorit.</span> <br> Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
