.only-web{
  display: flex !important;
}

.only-mobile{
  display: none !important;
}

@include media-breakpoint-down(md) {
  .only-web{
    display: none !important;
  }

  .only-mobile{
    display: flex !important;
  }
}
