<section id="home" class="sec-1">
  <div class="container">
    <div class="row">
      <div class="col-md-1 only-web">
        <img src="../../../assets/images/vem-pra-stylorit.PNG" alt="">
      </div>
      <div class="col-md-5 col-12">
        <h2>Uma nova experiência ao seu negócio</h2>
        <h1>Transforme sua ideia em realidade!</h1>
        <button class="only-web">Transformar</button>
      </div>
      <div class="col-md-6 col-12">
        <img src="../../../assets/images/home-img-1.png" alt="">
      </div>
    </div>
    <div class="bot-mobile only-mobile">
      <button>Transformar</button>
    </div>
    <div class="only-web bot">
      <a target="_blank"
        href="https://wa.me/5533988919428?text=Ol%C3%A1%21%20Quero%20saber%20mais%20sobre%20as%20suas%20anima%C3%A7%C3%B5es%20%3A%29"><i
          class="fab fa-whatsapp"></i> Fale com a gente!</a>
    </div>
  </div>
</section>

<section id="know-about" class="sec-2">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="img only-web">
          <img src="../../../assets/images/element-bars-sec-2.png" alt="">
        </div>
        <div class="division">
          <h3>CONHEÇA MELHOR</h3>
          <h2>Como vamos <br> te ajudar?</h2>
          <p>
            A nossa equipe desenvolve animações harmônicas que, de maneira direta e com <span class="blue">alta
              qualidade</span>, mantém a conexão
            com seus clientes.
            <br>
            <br>
            Queremos que o seu negócio tenha <span>mais alcance</span> e conquiste mais do seu <span
              class="blue">público alvo</span>, então é isso que iremos
            fazer!
          </p>
        </div>
      </div>
    </div>
  </div>
  <img class="circle only-web" src="../../../assets/images/circles-sec-2.png" alt="">
  <img class="circle only-mobile" src="../../../assets/images/circles-sec-2-mobile.png" alt="">
</section>

<section id="virtue" class="sec-3">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h3>NOSSAS VIRTUDES</h3>
        <h2>O porquê de <br> nos escolher</h2>
      </div>
      <div class="col-12 col-md-4">
        <div class="img"><img src="../../../assets/images/sec-3-img-1.png" alt=""></div>
        <h4>Ágil como um coelho</h4>
        <p>Priorizamos entregar nossos produtos na melhor qualidade e no menor tempo possível.</p>
      </div>
      <div class="col-12 col-md-4">
        <div class="img"><img src="../../../assets/images/sec-3-img-2.png" alt=""></div>
        <h4>Qualidade</h4>
        <p>Temos o dever e o compromisso de entregar todos os nossos produtos com a mais alta qualidade e iremos
          fazê-lo.</p>
      </div>
      <div class="col-12 col-md-4">
        <div class="img"><img src="../../../assets/images/sec-3-img-3.png" alt=""></div>
        <h4>Exclusividade</h4>
        <p>Todos os vídeos são produzidos com base nos valores da sua empresa e, por isso, são únicos!</p>
      </div>
      <div class="col-12 col-md-4">
        <div class="img"><img src="../../../assets/images/sec-3-img-4.png" alt=""></div>
        <h4>Acompanhe tudo</h4>
        <p>Em nosso processo de produção, deixamos você informado a cada passo que tomarmos.</p>
      </div>
      <div class="col-12 col-md-4">
        <div class="img"><img src="../../../assets/images/sec-3-img-5.png" alt=""></div>
        <h4>Resultados</h4>
        <p>Nosso dever é atender aos seus objetivos, é por isso que nos dá Stylorit vamos promover resultados ao seu
          negócio, gerando valor para ele.</p>
      </div>
    </div>
  </div>
</section>

<section id="how" class="sec-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h3>NOSSOS SERVIÇOS</h3>
        <h2>Como <br> funciona?</h2>
        <p>A produção dos nossos vídeos conta com <span>4 etapas</span>:</p>
        <img src="../../../assets/images/bars-sec-4.png" alt="">
      </div>
      <div class="col-12 col-md-8">
        <div class="item">
          <div class="img-box">
            <img src="../../../assets/images/sec-4-maos.png" alt="">
          </div>
          <div class="box">
            <h4>01. Obtenção dos Dados do Cliente</h4>
            <p>Em um primeiro momento, obtemos os seus dados para agilizar ao máximo o contato.</p>
          </div>
        </div>
        <div class="item">
          <div class="img-box">
            <img src="../../../assets/images/sec-4-chat.png" alt="">
          </div>
          <div class="box">
            <h4>02. Entrevista com o cliente</h4>
            <p>Desenvolvemos um processo inovador para entendermos as suas necessidades e , sem burocracias, criar um
              produto para atendê-la.</p>
          </div>
        </div>
        <div class="item">
          <div class="img-box">
            <img src="../../../assets/images/sec-4-luz.png" alt="">
          </div>
          <div class="box">
            <h4>03. Validação de Ideias</h4>
            <p>Com as informações da entrevista, nossa equipe irá produzir todos os elementos do vídeo
              e criaremos um rascunho da animação, que irá te ajudar a visualizar melhor o seu fluxo,
              evitando desperdício de tempo e material.</p>
          </div>
        </div>
        <div class="item">
          <div class="img-box">
            <img src="../../../assets/images/sec-4-estrelas.png" alt="">
          </div>
          <div class="box">
            <h4>04. Entrega</h4>
            <p>Por fim, desenvolvemos e entregamos para você o produto final: a animação com efeitos sonos, narração ou
              quaisquer adições que você quiser.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="circle" src="../../../assets/images/circles-sec-4.png" alt="">
</section>

<section id="services" class="sec-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h3>CONHEÇA</h3>
        <h2>Nossos Serviços</h2>
      </div>
      <!-- <div class="col-12 col-md-4">
      </div>
      <div class="col-12 col-md-2">
        <button>
          <i class="fas fa-arrow-left"></i>
        </button>
        <button>
          <i class="fas fa-arrow-right"></i>
        </button>
      </div> -->
    </div>

      <swiper [config]="{ slidesPerView: 1, pagination: { el: apresentationPagination } }">
        <ng-template swiperSlide>
          <div class="row">
            <div class="col-12 col-md-6">
              <img src="../../../assets/images/img-sec-5.png" alt="">
            </div>
            <div class="col-12 col-md-6">
              <h4>Animação padrão sem personagem</h4>
              <p>Por fim, desenvolvemos e entregamos para você o produto final: a animação com efeitos sonos, narração ou
                quaisquer adições que você quiser.</p>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="row">
            <div class="col-12 col-md-6">
              <img src="../../../assets/images/img-sec-5.png" alt="">
            </div>
            <div class="col-12 col-md-6">
              <h4>Animação padrão com personagem</h4>
              <p>Criaremos um vídeo para o seu negócio utilizando do nosso banco de ilustrações
                exclusivo à sua escolha, esse estilo vídeo é ideal para quando você quer cativar o
                seu cliente com as interações entre os personagens!</p>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="row">
            <div class="col-12 col-md-6">
              <img src="../../../assets/images/img-sec-5.png" alt="">
            </div>
            <div class="col-12 col-md-6">
              <h4>Animação customizada</h4>
              <p>A nossa equipe irá desenvolver do zero todos os elementos que irão compor o seu
                vídeo, para dar ainda mais personalidade e conseguir repassar a sua ideia de uma
                maneira ainda mais exclusiva!</p>
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="row">
            <div class="col-12 col-md-6">
              <img src="../../../assets/images/img-sec-5.png" alt="">
            </div>
            <div class="col-12 col-md-6">
              <h4>Quadro branco</h4>
              <p>Esse estilo de vídeo é uma excelente forma de manter a atenção do público, iremos
                simular as ilustrações serem criadas ao vivo e vamos passar a sua ideia de uma
                forma mais didática!</p>
            </div>
          </div>
        </ng-template>
      </swiper>

      <div #apresentationPagination class="swiper-pagination"></div>
  </div>
  <img class="circle" src="../../../assets/images/Mask Group.png" alt="">
</section>

<section id="contact" class="sec-6">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h3>VAMOS CONVERSAR</h3>
        <h2>Entre em <br> Contato.</h2>
        <p>
          Tem alguma dúvida ou quer iniciar um projeto conosco? Entre em contato.
        </p>
        <img src="../../../assets/images/bars-sec-4.png" alt="">
      </div>
      <div class="col-12 col-md-1">

      </div>
      <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" class="col-12 col-md-7">
        <div class="box">
          <label for="nome_in">Seu nome</label>
          <input formControlName="nome_in" name="nome_in" id="nome_in" type="text">
        </div>
        <div class="box esquerda">
          <label for="email_in">Email</label>
          <input formControlName="email_in" name="email_in" id="email_in" type="email">
        </div>
        <div class="box direita">
          <label for="telefone_in">Telefone/WhatsApp</label>
          <input mask="(00) 0 0000-0000" formControlName="telefone_in" name="telefone_in" id="telefone_in" type="text">
        </div>
        <div class="box">
          <label for="mesage_in">Sua Mensagem</label>
          <textarea formControlName="mesage_in" name="mesage_in"
            placeholder="Explique-nos brevemente o que você quer com seu projeto e entraremos em contato!"
            name="mesage_in" id="mesage_in" cols="30" rows="10"></textarea>
        </div>

        <button>ENVIAR MENSAGEM</button>
      </form>
    </div>
  </div>
</section>

