<section id="home" class="sec-1">
  <div class="container">
    <div class="row">
      <div class="col-md-1 only-web">
        <img src="../../../assets/images/vem-pra-stylorit.PNG" alt="">
      </div>
      <div class="col-md-5 col-12">
        <h2>Uma nova experiência ao seu negócio</h2>
        <h1>Transforme sua ideia em realidade!</h1>
        <button>Transformar</button>
      </div>
      <div class="col-md-6 col-12">
        <img src="../../../assets/images/home-img-1.png" alt="">
      </div>
    </div>
    <div class="bot">
      <button><i class="fab fa-whatsapp"></i> Fale com a gente!</button>
    </div>
  </div>
</section>

<section id="know-about" class="sec-2">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="img">
          <img src="../../../assets/images/element-bars-sec-2.png" alt="">
        </div>
        <div class="division">
          <h3>CONHEÇA MELHOR</h3>
          <h2>Como vamos te ajudar?</h2>
          <p>
            A nossa equipe desenvolve animações harmônicas que, de maneira direta e com <span class="blue">alta qualidade</span>, mantém a conexão
            com seus clientes.
            <br>
            <br>
            Queremos que o seu negócio tenha <span>mais alcance</span> e conquiste mais do seu <span class="blue">público alvo</span>, então é isso que iremos
            fazer!
          </p>
        </div>
      </div>
    </div>
  </div>
  <img class="circle" src="../../../assets/images/circles-sec-2.png" alt="">
</section>
